.colorownspray-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
    background: #000;
}

.hero-section {
  position: relative;
  height: 92vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scaleX(-1)
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
  transform: scaleX(-1)
}

.hero-logo {
  width: 600px;
 margin-bottom: -20px;
 margin-top: 35px;
 margin-left: -30px;
}

.hero-subtitle {
  font-size: 1.8rem;
   margin-bottom: -40px;
    margin-left: -60px;
    font-family: 'Poppins', sans-serif;
  font-weight: 500;      /* Medium weight */
  font-size: 32px;
  line-height: 100%;     /* same as font-size → tight line spacing */
  letter-spacing: 0;     /* no extra spacing */
}

.hero-drone {
  width: 570px;
  margin-left: 100px;
  display: block;
   z-index: 1;
}

.trail-btn {
  position: absolute;
  bottom: 50px;   /* adjust this value to move it higher */
  left: 48%;
  transform: translateX(-48%);
  width: 250px;
  height: 47px;
  font-size: 1rem;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  z-index: 3;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;      /* Medium weight */

}

.trail-btn:hover {
  background: #f0f0f0;
}





.features-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 10%;
  background: #000; /* black background like screenshot */
  color: #fff;
  min-height: 100vh;
}

.features-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  max-width: 500px;
}
.feature-box {
  width: 266px;
  height: 183px;
    
  top: 179px;
  left: 139px;

  opacity: 1;
  border: 1px solid rgba(255,255,255,0.2); /* thin border */
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 20px 30px;
  background: rgba(255,255,255,0.05); /* subtle background */
  color: #fff;
}


.feature-box h3 {
  color: #00aaff; /* highlight color */
  margin-bottom: 10px;
}

.features-drone img {
  width: 450px;
  max-width: 100%;
}


.section-three-img {
  max-width: 100%;        /* ✅ prevents overflow */
  width: 100%;            /* ✅ scales down with container */
  height: auto;           /* keeps proportions */
    /* optional rounded corners */
  display: block;
  margin: 0 auto;
}

